USE [OOPDProjectDB_bckup]
GO
/****** Object:  Table [dbo].[menudetails]    Script Date: 29-12-2021 14:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menudetails](
	[vendorId] [nvarchar](50) NOT NULL,
	[itemName] [nvarchar](50) NOT NULL,
	[itemQty] [int] NOT NULL,
	[itemPrice] [int] NOT NULL,
	[itemID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_menudetails] PRIMARY KEY CLUSTERED 
(
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[menudetails] ON 

INSERT [dbo].[menudetails] ([vendorId], [itemName], [itemQty], [itemPrice], [itemID]) VALUES (N'fp123', N'Special Thali', 1, 150, 5)
INSERT [dbo].[menudetails] ([vendorId], [itemName], [itemQty], [itemPrice], [itemID]) VALUES (N'fp123', N'Normal Thali', 1, 100, 6)
INSERT [dbo].[menudetails] ([vendorId], [itemName], [itemQty], [itemPrice], [itemID]) VALUES (N'fp123', N'Sahi Thali', 1, 180, 7)
GO
SET IDENTITY_INSERT [dbo].[menudetails] OFF
GO
